<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <title>Home</title>
  </head>
  <body>
    <header class="header">
      <div class="header_main">
        <div class="header_primary">
          <div class="brandsearch">
            <div class="header_brand">
               <h1>Ethio Gebiya</h1>
             </div>
             <div class="header_search">
               <i class="fa-sharp fa-light fa-magnifying-glass"></i> 
               <input type="text" class="headerSearch" placeholder="Search Product Here">
             </div>
          </div>  
            <div class="header_container">
<div class="foverate">
   <a href="#foverate" class="link favorate"><i class="fa-sharp fa-regular fa-heart" style="color: #ffffff;"></i>Foverate<br>Wishlist</a>
</div>
<div class="foverate">
   <a href="#login" class="link login"><i class="fa-thin fa-user"></i>Login<br>My Account</a>
</div>
<div class="foverate">
   <a href="#foverate" class="link favorate"><i class="fa-sharp fa-regular fa-heart" style="color: #ffffff;"></i>Foverate<br>Wishlist</a>
</div>
            </div>
        </div>
      </div>
      <div class="header_sub">
      </div>
    </header>
    <div class="body">
      <div class="newadd">
        <div class="newadd_scroll"></div>
        <div class="newadd_about">
            <div class="item1"></div>
            <div class="item2"></div>
            <div class="item3"></div>
            <div class="item4"></div>
        </div>
      </div>
      <div class="about"></div>
      <div class="featured_products">
        <div class="backneed">
            <div class="backneed_item1">
                hello
             <div class="faces front">

             </div>
             <div class="faces back">

             </div>
            </div>
            <div class="backneed_item1">
                hello
             <div class="faces front">
                front
             </div>
             <div class="faces back">
                back
             </div>
            </div>
            <div class="backneed_item1">
                hello
             <div class="faces front">
                front
             </div>
             <div class="faces back">
                back
             </div>
            </div>
        </div>
        <div class="featured_items">
            <div class="featured_item1">
             <div class="imagepart">
                hello 
        
                <div class="iconpart">
hello
                </div>
             </div>
             
             <div class="brandname">
                hello
             </div>
             <div class="itemname">
                hello
    <br><br>
                hello
             </div>
             <div class="rating">
                hello
             </div>
             <div class="price">
                hello
             </div>
             <div class="howmanysold">
                hello
             </div>
            </div>
            <div class="featured_item1">
                <div class="imagepart">
                   hello 
           
                   <div class="iconpart">
   hello
                   </div>
                </div>
                
                <div class="brandname">
                   hello
                </div>
                <div class="itemname">
                   hello
       <br><br>
                   hello
                </div>
                <div class="rating">
                   hello
                </div>
                <div class="price">
                   hello
                </div>
                <div class="howmanysold">
                   hello
                </div>
               </div>
                <div class="featured_item1">
             <div class="imagepart">
                hello 
        
                <div class="iconpart">
hello
                </div>
             </div>
             
             <div class="brandname">
                hello
             </div>
             <div class="itemname">
                hello
    <br><br>
                hello
             </div>
             <div class="rating">
                hello
             </div>
             <div class="price">
                hello
             </div>
             <div class="howmanysold">
                hello
             </div>
            </div>
        </div>
      </div>
    </div>
    <footer class="footer">

    </footer>
  </body>
</html>
