*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html{
font-size: 62.5%; 
box-sizing: border-box;
}
body{
    font-family: 'Nunito',sans-serif;
    font-weight: 300;
    line-height: 1.7;

}
.header{
    width:100%;
    height: 25vh;
    background-color: orangered;
}
.header_main{
    width: inherit;
    height: 60%;
    background-color: #101d2c;
    display:flex;

}
.header_brand{
    color: #fff;

}
.header_sub{
    height: 40%;
    background-color: #2d5079;
}
.header_search{
    position: relative;
}
.place{
    position: absolute;
    top:0;
    left:0;

}
.brandsearch{
  
    display: flex;
    justify-content: space-between;

}
.link:link,
.link:active
.link:visited
{
    color:white;
    text-decoration: none;
    
}
input{
    outline: none;
    padding:1rem 2rem;
    border-radius: .8rem;
    border: none;
}
input::placeholder{
    color:#333;
    font-family: inherit;
    font-weight: 500;
}
.newadd{

    background-color:white;
    width: 95%;
    margin: 30px 10px 30px 50px;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'scroller about'
                         'scroller about';
    column-gap: 1rem;
}
.newadd_scroll{
    grid-area: scroller;
    background-color:blueviolet;
    border-radius: 1rem;
}
.newadd_about{
    border-radius: 1rem;
    grid-area: about;
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'item1 item2'
                        'item3 item4';
    column-gap: 1rem; 
    row-gap: 1rem;              
}
.item1{
    border-radius: 1rem;
grid-area:item1;
background-color: blue;
}
.item2{
    border-radius: 1rem;
    grid-area:item2;
    background-color: blueviolet;
}
.item3{
    border-radius: 1rem;
    grid-area:item3; 
    background-color: brown;
}
.item4{
    border-radius: 1rem;
    background-color: wheat;
    grid-area:item4;
}
.about{
    display: block;
    width:100%;
    height:10rem;
    background-color: black;
    border-radius: 1rem;
}
.featured_products{
    width: 100%;
    height: 220vh;
    background-color: aquamarine;

}
.backneed{
    background-color: #313383;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    border-radius: 1rem;
    
}
.backneed_item1{
    background-color: white;
  width: 16rem;
  height: 22rem;
  margin-top: 2.5rem;
  perspective: 150rem;
  transition: all .8s;
position: relative;
}
.front{
    transition: all .8s;
    background-color: aqua;
    width: 100%;
    height: 100%;  
    backface-visibility: hidden;
    position:absolute;
    top:0;
    left:0;
}
.back{
    transition: all .8s;
 transform: rotateY(180deg);
background-color: orchid;
width: 100%;
height: 100%;
position:absolute;
top:0;
left:0;
backface-visibility: hidden;
}
.backneed_item1:hover .back{
    transform: rotateY(0deg);
}
.backneed_item1:hover .front{
    transform: rotateY(-180deg);
}


.backneed_item2{
    background-color:green;
   
}
.backneed_item3{
    background-color: orangered;
  
}
.featured_items{
    /* background-color: crimson; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.featured_item1{
background-color: rgb(255, 255, 255);
width:145px;
height: 170px;
border-radius: 2px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
overflow: hidden;
}

.iconpart{
    background-color: orangered;

}
.brandname{
    background-color: darkblue;
}
.imagepart{
    width:13.5rem;
    height: 9rem;
    background-color: red;
 /* margin-top: -26px; */
 margin-left: .4rem;
 display:flex;
 flex-direction: row;
 justify-content: flex-end;
 border-radius: 5px;
}
.itemname{
    background-color: orange;
}
.rating{
    background-color: olivedrab;
}
.price{
    background-color: olive;
}
.howmanysold{
    background-color: #313383;
    align-self: flex-end;
}


.footer{
    width: 100%;
    height: 40vh;
    background-color: rgb(127, 255, 127);
}
