:root {
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html{
font-size: 62.5%; 
box-sizing: border-box;
}
body{
    font-family: 'Nunito',sans-serif;
    font-weight: 300;
    line-height: 1.7;
}


.header{
    width:100%;
    height: 25vh;
}
.header_primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    background-color: #101d2c;
}
.header_brand{
    color: #fff;

}
.header_container{
    display:flex;
    width:40%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    align-self:stretch;

}
.header_container > *{
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_container > *:hover {
    background-color: rgba(0, 16, 29, 1);
border-bottom: 2.5px solid yellowgreen;
}
.catagory_select{
    position: relative;
}
.catagory__icon{
    position: relative; 
    top:.8rem;
    left:1.1rem;
}
.catagory{
    background-color: inherit;
    border: none;
    color: white;
    outline: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 2px 50px;
    padding-left: 0px;
    border-right: 2px solid  rgb(103 151 165 / 66%);
}
.catagory > *:hover{
background-color: #2d5079;
}
.catagory > *{
    background-color: transparent;
    color:#2d5079;
    padding:10px;
    border-bottom:2px solid #333 ;
    border-radius: 8px;
    outline: none;
}
.catagory__icon{
    fill:#fff;
    width: 4rem;
    height: 2.5rem;


}
.header_sub{
    height: 40%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2d5079;
    text-transform: uppercase;

}
.header_sub_link h2{
    padding:20px;

}
.header_sub_link h2:hover{
  
    background-color: #204264;
    border-bottom: 2.5px solid #101d2c;
}
.header_sub_link{
 
display: flex;
justify-content: space-around;
align-items: center;
width: 30%;
font-size: .8rem;
/* align-self: stretch; */
word-spacing: -3px;
}


.brandsearch{

    display:flex;
    margin-left: 2rem;
    justify-content: space-between;
    align-items: center;
    width:50%;
}
.search {
    flex: 0 0 70%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* @media only screen and (max-width: $bp-smallest) {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);
    } */
}
.search__button {
    border: none;
    background-color: var(--color-grey-light-2);
}
.search__button:focus {
    outline: none;
}
.search__button:active {
    transform: translateY(2px);
}
.search__input:focus + search__button {
    background-color: var(--color-grey-light-3);
}
.search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
   
}
.search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .9rem 2rem;
    border-radius: 1rem;
    width: 100%;
    transition: all .2s;
    margin-right: -3.25rem;
}
.header_brand h1{
    letter-spacing: -3px;
    word-spacing: 1px;
    font-weight: 300;
display:inline-block;
}

img[src="logo-white.png"]{
    width:5rem;
}
.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-grey-dark-2);
}
.search__input:focus {
    outline: none;
    width: 110%;
    background-color: var(--color-grey-light-3);
}
.favorate{
    display: flex;
}
.cartcash{

    margin-left: .6rem;
    margin-top: 1.3rem;
    align-self:self-start;

}
.cash{
    font-weight: 600;
    display: block;
    color: white;
}
.login{
    display:flex;
}

.favorate__icon{
    fill:#fff;
    width: 4rem;
    height: 3.5rem;
}
.favorate__icon:focus {
    outline: none;
}
.user{
    fill:#fff;
    width: 4rem;
    height: 3.5rem;
}
.cart-icon{
    fill:#fff;
    width: 4rem;
    height: 3.5rem;
}
.cart{
display:flex;
justify-content: space-between;
align-items: center;
}
.cartNum{
    background-color: #f0eeee;
    border-radius: 30%;
    color:black;
    display: inline-block;
   
    text-align: center;
    height: 1.5rem;
    width:2.5rem;
}
.link:link,
.link:active,
.link:visited{
    color:white;
    text-decoration: none;
    
}
/* input{
    outline: none;
    padding:1rem 2rem;
    border-radius: .8rem;
    border: none;
}
input::placeholder{
    color:#333;
    font-family: inherit;
    font-weight: 500;
} */
.newadd{

    background-color:white;
    width: 95%;
    margin: 30px 10px 30px 50px;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'scroller about'
                         'scroller about';
    column-gap: 1rem;
}
.newadd_scroll{
    grid-area: scroller;
    background-color:blueviolet;
    border-radius: 1rem;
}
.newadd_about{
    border-radius: 1rem;
    grid-area: about;
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'item1 item2'
                        'item3 item4';
    column-gap: 1rem; 
    row-gap: 1rem;              
}
.item1{
    border-radius: 1rem;
grid-area:item1;
background-color: blue;
}
.item2{
    border-radius: 1rem;
    grid-area:item2;
    background-color: blueviolet;
}
.item3{
    border-radius: 1rem;
    grid-area:item3; 
    background-color: brown;
}
.item4{
    border-radius: 1rem;
    background-color: wheat;
    grid-area:item4;
}
.about{
    display: block;
    width:100%;
    height:10rem;
    background-color: black;
    border-radius: 1rem;
}
.featured_products{
    width: 100%;
    height: 220vh;
    background-color: aquamarine;

}
.backneed{
    background-color: #313383;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    border-radius: 1rem;
    
}
.backneed_item1{
    background-color: white;
  width: 16rem;
  height: 22rem;
  margin-top: 2.5rem;
  perspective: 150rem;
  transition: all .8s;
position: relative;
}
.front{
    transition: all .8s;
    background-color: aqua;
    width: 100%;
    height: 100%;  
    backface-visibility: hidden;
    position:absolute;
    top:0;
    left:0;
}
.back{
    transition: all .8s;
 transform: rotateY(180deg);
background-color: orchid;
width: 100%;
height: 100%;
position:absolute;
top:0;
left:0;
backface-visibility: hidden;
}
.backneed_item1:hover .back{
    transform: rotateY(0deg);
}
.backneed_item1:hover .front{
    transform: rotateY(-180deg);
}


.backneed_item2{
    background-color:green;
   
}
.backneed_item3{
    background-color: orangered;
  
}
.featured_items{
    /* background-color: crimson; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.featured_item1{
background-color: rgb(255, 255, 255);
width:145px;
height: 170px;
border-radius: 2px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
overflow: hidden;
}

.iconpart{
    background-color: orangered;

}
.brandname{
    background-color: darkblue;
}
.imagepart{
    width:13.5rem;
    height: 9rem;
    background-color: red;
 /* margin-top: -26px; */
 margin-left: .4rem;
 display:flex;
 flex-direction: row;
 justify-content: flex-end;
 border-radius: 5px;
}
.itemname{
    background-color: orange;
}
.rating{
    background-color: olivedrab;
}
.price{
    background-color: olive;
}
.howmanysold{
    background-color: #313383;
    align-self: flex-end;
}


.footer{
    width: 100%;
    height: 40vh;
    background-color: rgb(127, 255, 127);
}
.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;  
  }
  .recommend_photo {
    box-sizing: content-box;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 3px solid #fff;
   
  }
  .recommend_photo:not(:last-child) {
    margin-right: -2rem;
  }